<main>
  <p>Вы запросили сброс пароля для вашего аккаунта.</p>
  <p>Нажмите на ссылку ниже, чтобы установить новый пароль:</p>
  <p><a href="<%= resetUrl %>">Сбросить пароль</a></p>
  <p>Если вы не запрашивали сброс пароля, пожалуйста, проигнорируйте это письмо.</p>
  <p>Ссылка действительна в течение 1 часа.</p>
</main> 